<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.live">

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 个推sdk所需的权限，包括权限其他权限上面已经有了。 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <application
        android:name=".common.application.CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.demo.MainActivity" />
        <activity android:name=".module.publish.view.impl.PublishActivity" />
        <activity android:name=".module.play.view.impl.PlayActivity" />
        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".module.capture.view.impl.CaptureActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".module.home.view.impl.HomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.chat.view.impl.ChatActivity" />
        <!-- service -->
        <service
            android:name=".common.service.PreferencesService"
            android:exported="false" />
        <service
            android:name=".module.capture.service.CaptureService"
            android:exported="false" />
        <service android:name=".module.chat.service.ChatService" />

        <!-- 个推初始化service -->
        <service android:name=".module.login.service.InitPushService" />
        <!-- 个推的订阅service -->
        <service android:name=".module.login.service.ReceiveIntentService" />
        <!-- 主播聊天服务service -->
        <service android:name=".module.chat.service.AnchorChatService" />

        <activity android:name=".module.home.view.impl.SingleCategoryActivity" />
        <activity
            android:name=".module.login.view.impl.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.login.view.impl.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.home.view.impl.UserInfoActivity" />
        <activity android:name=".module.anchor.view.impl.ApplyAnchorActivity" />
        <activity android:name=".module.home.view.impl.SearchLiveRoomActivity" />
        <activity android:name=".module.anchor.view.impl.AnchorInfoActivity" />
        <activity android:name=".module.home.view.impl.LiveRoomCoverActivity"></activity>
        <activity android:name=".module.home.view.impl.LiveOverActivity"></activity>
    </application>

</manifest>